[submodule "mb-rep"]
	path = mb-rep
	url = git@github.com:metaborg/mb-rep.git
	branch = mvn-build
[submodule "mb-exec"]
	path = mb-exec
	url = git@github.com:metaborg/mb-exec.git
	branch = mvn-build
[submodule "mb-exec-deps"]
	path = mb-exec-deps
	url = git@github.com:metaborg/mb-exec-deps.git
	branch = mvn-build
[submodule "jsglr"]
	path = jsglr
	url = git@github.com:metaborg/jsglr.git
	branch = mvn-build
[submodule "runtime-libraries"]
	path = runtime-libraries
	url = git@github.com:metaborg/runtime-libraries.git
	branch = mvn-build
[submodule "spoofax"]
	path = spoofax
	url = git@github.com:metaborg/spoofax.git
	branch = mvn-build
[submodule "spoofax-debug"]
	path = spoofax-debug
	url = git@github.com:metaborg/spoofax-debug.git
	branch = mvn-build
[submodule "spoofax-deploy"]
	path = spoofax-deploy
	url = git@github.com:metaborg/spoofax-deploy.git
	branch = mvn-build
[submodule "sdf"]
	path = sdf
	url = git@github.com:metaborg/sdf.git
	branch = mvn-build
[submodule "rtg"]
	path = rtg
	url = git@github.com:metaborg/rtg.git
	branch = mvn-build
[submodule "box"]
	path = box
	url = git@github.com:metaborg/box.git
	branch = mvn-build
[submodule "esv"]
	path = esv
	url = git@github.com:metaborg/esv.git
	branch = mvn-build
[submodule "stratego"]
	path = stratego
	url = git@github.com:metaborg/stratego.git
	branch = mvn-build
[submodule "aster"]
	path = aster
	url = git@github.com:metaborg/aster.git
	branch = mvn-build
[submodule "nabl"]
	path = nabl
	url = git@github.com:metaborg/nabl.git
	branch = mvn-build
[submodule "ts"]
	path = ts
	url = git@github.com:metaborg/ts.git
	branch = mvn-build
[submodule "spt"]
	path = spt
	url = git@github.com:metaborg/spt.git
	branch = mvn-build
[submodule "imp-patched"]
	path = imp-patched
	url = git@github.com:metaborg/imp-patched.git
	branch = mvn-build
[submodule "strategoxt"]
	path = strategoxt
	url = git@github.com:metaborg/strategoxt.git
	branch = mvn-build
[submodule "modelware"]
	path = modelware
	url = git@github.com:metaborg/spoofax-modelware.git
	branch = mvn-build
[submodule "lpg-runtime"]
	path = lpg-runtime
	url = git@github.com:metaborg/lpg-runtime.git
	branch = mvn-build
[submodule "shrike"]
	path = shrike
	url = git@github.com:metaborg/shrike.git
	branch = mvn-build
[submodule "spoofax-sunshine"]
	path = spoofax-sunshine
	url = git@github.com:metaborg/spoofax-sunshine.git
	branch = mvn-build
