/.qualifier
/.buildenv
/.eclipsegen
/.local-deploy-repository
/dist

# Maven
/target/
/.m2

# Intellij
.idea/*
!.idea/icon.svg
!.idea/icon_dark.svg
!.idea/icon.png
!.idea/icon_dark.png
!.idea/icon.ai
!.idea/icon_dark.ai
*.iws
/out/
*.iml
*.ipr

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/build/

# Misc
/.cache
.DS_Store